body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: #2C3E50;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 1.8rem;
    margin-top: 15px;
    color: #1F618D;
}

h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #D35400;
}

/* Paragraph Styling */
p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 10px 20px;
}

/* Table Styling */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background: #1F618D;
    color: white;
    font-weight: bold;
}

/* Image Styling */
img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #2C3E50;
    color: white;
    font-size: 0.9rem;
}
